@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.base {
  width: 2600px;
  flex-direction: column;

  .animWrapper {
    display: flex;

    span {
      color: #7b7877;
      font-size: 25vw;
      animation-name: marquee;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      white-space: nowrap;
      font-weight: 400;

      @media screen and (min-width: 2400px) {
        font-size: 500px;
      }

      // @media screen and (max-height: 1060px) {
      //   font-size: 50vh;
      // }
    }
  }
}