// https://dev.to/frehner/css-vh-dvh-lvh-svh-and-vw-units-27k4

.rootContainer {
  position: relative;
  height: calc(100vh - 121px);
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  background-color: rgba(0, 0, 0, 0.8);

  .heroContainer {
    position: relative;
    height: calc(100vh - 121px);

    .modelContainer {
      z-index: 1;
      mix-blend-mode: multiply;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 50vw;
      height: 80vh;
      max-width: 1200px;
    }

    .centerTextContainer {
      height: fit-content;
      z-index: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .chinaText {
        position: absolute;
        left: 19%;
        transform: translateX(-50%);
        bottom: -2%;
        margin: auto;
        font-size: 25px;
        color: #7b7877;
        letter-spacing: 40px;
      }

      .desc {
        text-transform: uppercase;
        position: absolute;
        left: 20%;
        transform: translateX(-50%);
        bottom: -28%;
        margin: auto;
        font-size: 20px;
        color: #7b7877;
        font-weight: 300;
        max-width: 655px;
      }

      .scroller {
        color: #7b7877;
        font-size: 25vw;
        font-weight: 400;

        @media screen and (min-width: 2400px) {
          font-size: 500px;
        }
      }
    }

    .foldTextContainer {
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
}