.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;

  .scroller {
    color: #7b7877;
    font-size: 25vw;
    animation-name: marquee;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    white-space: nowrap;
    font-weight: 400;

    @media screen and (min-width: 2400px) {
      font-size: 500px;
    }
  }
}