.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

  .clock {
    font-size: 75px;
    width: 60px;
  }

  .linkContainer {
    position: relative;
    top: -10px;
    display: flex;
    gap: 10px;

    .navLink {
      text-decoration: none;
      text-align: center;
      color: black;
      font-size: 26px;
      font-kerning: none;
      font-feature-settings: "liga" 0;
      width: 165px
    }

  }

  .accent {
    position: relative;
    top: -4px;
    font-size: 25px;
  }
}