.textContainer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;


  .statusTextContainer {
    font-size: 20px;
    width: 333px;


    .accent {}

    .statusText {
      font-weight: 300;
    }
  }

  .centerText {
    font-size: 90px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-weight: 400;
  }

  .barcode {
    position: relative;
    top: 25px;
    font-size: 72px;
    width: 333px;
  }
}